doctype html
html
	head
		- var page_name = "Temp"
		include ./includes/head.jade

	body
		include ./includes/header.jade

		main(ng-app="moviesApp")
			section.section-search(ng-controller="mainController")
				.container
					.row
					hr
				h2.text-center Movie search
				form.form-inline.text-center
					.search
						input( type="text", ng-model="input").form-control
						button(ng-click="searchFunc(input); show='true'").btn.btn-success submit
				.container
					.row
						.col-sm-6.sorting(ng-show="show")
							p.sorting__title Sorting by
							select(class="form-control", ng-model="sortingValue")
								option(value="") Don't sort
								option(value="Title") Title
								option(value="Type") Type
								option(value="Year") Year
						.col-sm-6.filter(ng-show="show")
							p.filter__title Filtering
							select(class="form-control", ng-model="filterValue")
								option(value="") Don't filter
								option(value="Movie") Movie
								option(value="Series") Series
								option(value="Episode") Episode
								option(value="Game") Game
					hr
					//- desired 
					.movie.clearfix.movie--desired(ng-repeat="item in desired")
						.movie__info.pull-left
							.movie__label Desired
							h3 Name: {{item.Title}}
							h5 Type {{item.Type}}
							h5 Year: {{item.Year}}

					//- search result
					.search-result
						.movie.movie--result.clearfix(ng-show="show", ng-repeat="movie in movies | orderBy: sortingValue:reverse | filter: filterValue")
							.movie__info.pull-left
								h3 Name: {{movie.Title}}
								h5 Type {{movie.Type}}
								h5 Year: {{movie.Year}}
								.btn.btn-info(ng-click="addToDesired(movie)") add to desired
								//- a(href="#").movie__link.btn.btn-info more info
					ul.pagination
						li.pagination__item(ng-repeat="page in pages")
							button(ng-click="changePage(page.num)").pagination__number {{page.num}}


		include ./includes/footer.jade