// Footer block
footer.footer
	

// *** Scripts ***
//- // Bootstrap
//- script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
//Angular
script(src="http://code.angularjs.org/1.1.5/angular.js")